{% extends "main/base.html" %}

{% load static %}
{% block  content %}
        <div class="container mb-2 mt-2">
            <a class="btn btn-primary" href="{% url 'blog:create' %}" role="button">Добавить статью</a>
        </div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for prod in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ prod.avatar }}">
            <div class="card-body">
                <p class="card-text">{{ prod.name }}</p>
                <div class="d-grid gap-2 d-md-block">

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}