{% extends 'main/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center" style="margin-top: 5px;">
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">

                <h2>Восстановление пароля</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="email">Введите ваш email:</label>
                    <input type="email" name="email" required>
                    <button type="submit">Восстановить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}