{% load static %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'catalog:home' %}">
                <img src="{% static 'image/el.jpeg' %}" alt="" width="30" height="24"
                     class="d-inline-block align-text-top">
                Bootstrap
            </a>
            <a class="p-2 btn btn-outline-primary mx-2" href="{% url 'catalog:home' %}">Весь каталог</a>

            {% for num in nums %}
                <a class="p-2 btn btn-outline-primary mx-2" href="{% url 'catalog:catalog' num 1 %}">{{ num }} товара из каталога</a>
            {% endfor %}

            <a class="p-2 btn btn-outline-primary mx-2" href="{% url 'catalog:create' %}">Создать продукт</a>
            <a class="p-2 btn btn-outline-primary mx-2" href="{% url 'catalog:contacts' %}">Контакты</a>
        </div>
    </nav>
</div>
