{% extends 'main/base.html'%}
{% load static %}
{% load my_tags %}


{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-6 col-sm-12 mb-4">
        <div class="card box-shadow">
            <div class="card-body">
                <h2 class="card-title">Контактная информация</h2>
                <table class="table table-striped mt-4">
                    <tbody>
                    <tr>
                        <td class="w-25"><strong>Страна регистрации магазина</strong></td>
                        <td>Российская Федерация</td>
                    </tr>
                    <tr>
                        <td class="w-25"><strong>ИНН магазина</strong></td>
                        <td>**********</td>
                    </tr>
                    <tr>
                        <td class="w-25"><strong>Адрес магазина</strong></td>
                        <td>Нижний Новгород</td>
                    </tr>
                    </tbody>
                </table>

                <ul class="list-group list-group-flush">
                    {% for contact in contact_info %}
                    <li class="list-group-item">
                        <strong>{{ contact.name }}</strong><br>
                        Email: {{ contact.email }}<br>
                        Телефон: {{ contact.phone }}<br>
                        Адрес: {{ contact.address }}
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
            </div>
            <div class="card-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        <label for="name">Имя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="email" placeholder="Ваш email"
                               required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон"
                               required>
                        <label for="phone">Телефон</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="address" class="form-control" id="address" placeholder="Адрес доставки"
                               required>
                        <label for="address">Адрес</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea name="message" class="form-control" id="message" placeholder="Введите сообщение"
                                  style="height: 100px" required></textarea>
                        <label for="message">Сообщение</label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}