{% extends 'main/base.html'%}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-header">
                    <h2>Категории</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category in list_category %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ category.name }}
                            <span class="badge bg-primary rounded-pill">{{ category.description }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Последние продукты</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for product in latest_products %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ product.name }}
                                <span class="badge bg-primary rounded-pill">{{ product.price }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">19999₽</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- Дополнительная гарантия на товар</li>
                            <li>- Поддержка 24 часа</li>
                            <li>- Монтаж</li>
                            <li>- Доставка</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}