{% extends "main/base.html" %}
{% load static %}
{% load static %}
{% load my_tags %}

{% block content %}
<div class="container mb-2 mt-2">
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'catalog:create_product' %}" role="button">Добавить продукт</a>
    {% endif %}

</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <img src="{{ object.avatar }}">
            <div class="card-body">
                <p class="card-text">
                    {{ object | title }}
                    <br>
                    <b>Наименование: </b>{{object.name}}
                    <br> <br>
                <div class="card-body">
                    <img src="{{object.image|media_filter}}" class="card-img-top" alt={{object.image|media_filter}}>
                </div>

                <b>Категория: </b>{{object.category}}
                <br> <br>
                <b>Цена: </b>{{object.price}}
                <br><br>
                <div class="d-grid gap-2 d-md-block">
                    <div class="btn-group">
                        <a class="btn btn-success" href="{% url 'catalog:view_product' object.pk %}" role="button">Посмотреть</a>

                        <a class="btn btn-warning" href="{% url 'catalog:update_product' object.pk %}" role="button">Изменить</a>

                        <a class="btn btn-danger" href="{% url 'catalog:delete_product' object.pk %}" role="button">Удалить</a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for category in list_category %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ category.name }}
                            <span class="badge bg-primary rounded-pill">{{ category.description }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    {% endfor %}

</div>
{% endblock %}